#app {
    background: #F6F6F6;
}

.container {
    /* background: #F6F6F6; */
}

.nav li:nth-child(2) a {
    color: #409EFF !important;
    font-weight: bold;
}

/* *********************************************************** */