body {
    background: #F3F3F3;
}

.header {
    height: 60px;
    line-height: 60px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    background: #fff;
}

.header-center {
    height: 60px;
    line-height: 60px;
    width: 90%;
    margin: 0 auto;
}

.logo {
    float: left;
    font-size: 36px;
    color: #409EFF;
    font-weight: bold;
    text-decoration: none;
    transition: all .5s;
}

/* .logo:hover {
    transform: scale(1.2);
} */

.nav {
    display: inline-block;
    margin-left: 100px;
    /* border-bottom: 5px solid transparent;  */
}

.nav li {
    list-style: none;
    float: left;
}

.nav li a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: #000;
    padding: 0 20px;
}

.user-box {
    float: right;
}