#app {
    background: #fff;
}

.header {
    height: 60px;
    line-height: 60px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.header-center {
    width: 90%;
    margin: 0 auto;
}

.container {
    background: #F0F2F5;
}

.container-center {
    min-height: 800px;
    width: 90%;
    min-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
    box-sizing: border-box;
    background: #fff;
    cursor: pointer;
    position: relative;
    top: 15px;
    text-align: center;
}

.card-item {
    height: 240px;
}

.footer {
    width: 90%;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
}