#app {
    /* background: #F3F3F3; */
}

.container {
    /* padding-top: 1px; */
    /* background: #F3F3F3; */
}

.nav li:nth-child(2) a {
    color: #409EFF !important;
    font-weight: bold;
}

.container-center {
    background: #fff;
    min-height: 700px;
    width: 90%;
    min-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 15px;
    text-align: center;
}

/* ************************************************* */
.search-box {
    margin-top: 30px;
}

.search-input {
    width: 50%;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}

.search-input .el-input__wrapper {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.search-btn {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    height: 50px;
    padding: 8px 30px;
    font-size: 18px;
}

.content {
    margin-top: 50px;
}

.json-title {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    height: 18px;
    display: block;
    margin-bottom: 20px;
}

.json-content {
    text-align: left;
}