<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api文档-{{ .info.Name }}</title>

    <!-- meta -->
    {{ template "meta" }}

    <link rel="stylesheet" href="/public/static/web/css/doc.css">
    <script src="/public/static/web/js/doc.js"></script>
</head>

<body>
    <div id="app">
        <!-- 头部 -->
        {{ template "header" }}

        {{ .info }}

        <!-- 尾部 -->
        {{ template "footer" }}
    </div>
</body>

<script>
    const { createApp } = Vue;
    const config = {
        locale: ElementPlusLocaleZhCn,
        autoInsertSpace: true,
        size: "default",
    };

    const app = {
        delimiters: ["${", "}"],
        data() {
            return {

            };
        },
        mounted() {
        },
        methods: {

        },
    };
    Vue.createApp(app).use(ElementPlus, config).mount("#app");
</script>

</html>