<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>

    <script src="./public/static/vue@3.2.47/vue.global.js"></script>
    <link rel="stylesheet" href="./public/static/element-plus@2.2.30/element-plus.css">
    <script src="./public/static/element-plus@2.2.30/element-plus.js"></script>
    <script src="./public/static/element-plus@2.2.30/zh-cn.js"></script>

    <link rel="stylesheet" href="./public/static/common/css/normalize.css">
    <link rel="stylesheet" href="./public/static/web/css/index.css">
    <script src="./public/static/web/js/index.js"></script>
</head>

<body>
    <div id="app">
        <div class="header">
            <div class="header-center">头部</div>
        </div>

        <div class="container">
            <div class="container-center">
                <el-row :gutter="20">
                    <el-col :span="4">
                        <el-card shadow="hover" class="card-item" @click="toPage()">
                            <!-- <img src="" alt=""> -->
                            <p class="to-barcode-page">查询</p>
                            <p class="free">免费</p>
                        </el-card>
                    </el-col>
                    <el-col :span="4">
                        <el-card shadow="hover" class="card-item"> Hover </el-card>
                    </el-col>
                    <el-col :span="4">
                        <el-card shadow="hover" class="card-item"> Never </el-card>
                    </el-col>
                    <el-col :span="4">
                        <el-card shadow="hover" class="card-item"> Never </el-card>
                    </el-col>
                    <el-col :span="4">
                        <el-card shadow="hover" class="card-item"> Never </el-card>
                    </el-col>
                    <el-col :span="4">
                        <el-card shadow="hover" class="card-item"> Never </el-card>
                    </el-col>
                </el-row>
            </div>
        </div>

        <div class="footer">尾部</div>
    </div>
    </div>
</body>

<script>
    const { createApp } = Vue;
    const config = {
        locale: ElementPlusLocaleZhCn,
        autoInsertSpace: true,
        size: "default",
    };

    const app = {
        delimiters: ["${", "}"],
        data() {
            return {
                msg: "Hello Vue!1",
            };
        },
        mounted() {
            this.init();
        },
        methods: {
            init() { },

            toPage() {
                window.localtion.href = "";
            },
        },
    };
    Vue.createApp(app).use(ElementPlus, config).mount("#app");
</script>

</html>