{{define "header"}}

<div id="header" class="header">
    <div class="header-center">
        <a href="/api_list" class="logo">logo</a>

        <ul class="nav">
            <li><a href="javascript:void(0)">主页</a></li>
            <li><a href="/api_list">API列表</a></li>
            <li><a href="javascript:void(0)">留言板</a></li>
        </ul>

        <div class="user-box">
            <el-button type="primary" @click="showRegisterDialog()" style="text-decoration: none;">注册</el-button>
            <el-button type="primary" @click="showLoginDialog()" style="text-decoration: none;" plain>登录</el-button>
        </div>
    </div>
</div>

{{end}}