{{define "meta"}}

<link rel="stylesheet" href="/public/static/common/css/normalize.css">
<link rel="stylesheet" href="/public/static/web/css/header.css">
<link rel="stylesheet" href="/public/static/web/css/footer.css">

<script src="/public/static/vue@3.2.47/vue.global.js"></script>
<link rel="stylesheet" href="/public/static/element-plus@2.2.34/element-plus.css">
<script src="/public/static/element-plus@2.2.34/element-plus.js"></script>
<script src="/public/static/element-plus@2.2.34/zh-cn.js"></script>

{{end}}